.card__content::before {
  padding-top: 80%;
}

.card__text {
  padding: 1em 2em;
}

.card__header {
  font-size: $font-epsilon;
}

.card__note {
  font-size: $font-zeta;
}

.card__comments {
  height: 30px;
  line-height: 30px;
}

.card__menu {
  height: 30px;
  font-size: $font-delta;
}
