.navbar {
  position: absolute;
  z-index: $z-navbar;
  top: 0;
  left: 50px;
  padding: .5em;
  background-color: $color-crimson;
  border-bottom: 1px solid $color-background;
  border-right: 1px solid $color-background;
  margin: 0;
}

.navbar__item {
  list-style-type: none;
}

.navbar__link {
  display: block;
  height: 48px;
  width: 100px;
  padding: 1em .5em;
  font-size: $font-delta;
  text-decoration: none;
  color: $color-canvas;
  background-color: $color-background;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    background-color: $color-canvas;
    color: $color-background;
  }
}
