.poster__sidebar {
  position: static;
}

.poster__main {
  position: static;
}

.poster__container {
  position: static;
}

.poster__caption {
  position: static;
}

.poster__info {
  position: static;
}
