.poster {
  position: relative;
  z-index: $z-poster;
  padding-left: 50px;
  background-color: $color-crimson;
  height: 100vh;
}

.poster__sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  float: left;
  width: 50px;
  background-color: $color-deeppurple;
  background-image: url("../images/downwards.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.poster__hamburger {
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.poster__sidebar-caption {
  position: absolute;
  bottom: 10%;
  left: 30%;
  margin: 0;
  font-size: $font-delta;
  transform-origin: top left;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.poster__sidebar-subcaption {
  color: gray;
  vertical-align: middle;
  font-size: .8em;
}

.poster__mailto {
  margin: 0;
  margin-bottom: 300px;
  padding: 15px;
  text-align: right;
}

.poster__letter {
  width: 28px;
}

.poster__title {
  position: absolute;
  top: 30%;
  right: 0;
  left: 50px;
  text-align: center;
  font-size: 8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .08em;
  margin: 0;
}

.poster__title-junction {
  font-size: .3em;
  font-family: $font-serif;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  position: relative;
  text-align: center;
  letter-spacing: normal;
  vertical-align: middle;
  display: block;
  width: 4em;
  height: 4em;
  margin: 0 auto;
  margin-top: -2em;
  margin-bottom: -2em;
  line-height: 3.8em;
  border-radius: 2em;
  background-color: $color-lining;

  &:after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: .3em;
    left: .3em;
    width: 3.4em;
    height: 3.4em;
    border: 0.3em solid white;
    border-radius: 1.8em; 
  }
}

.poster__caption {
  position: absolute;
  bottom: 0;
  width: 48%;
}

.poster__info {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48%;
}

.poster__header,
.poster__text,
.poster__menu,
.poster__timestamp {
  margin: 20px 20px;
}

.poster__header,
.poster__menu {
  height: 48px;
  font-size: $font-delta;
  line-height: 48px;
}

.poster__text {
  height: 80px;
  font-size: $font-epsilon;
  line-height: 2;
}

.poster__timestamp {
  height: 80px;
  font-size: $font-epsilon;
  text-align: right;
}

.poster__tridot {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: $color-canvas;
  width: 48px;
  height: 48px;
}
