.u-removed {
  display: none !important;
}

.u-bkgcolor-background {
  background-color: $color-background;
}

.u-bkgcolor-lining {
  background-color: $color-lining;
}

.u-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
