.u-removed {
  display: none !important;
}

.u-bkgcolor-background {
  background-color: $color-background !important;
}

.u-bkgcolor-lining {
  background-color: $color-lining !important;
}

.u-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.u-hidden-overflow {
  overflow: hidden !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-block {
  display: block !important;
}

.u-absolute {
  position: absolute !important;
}

.u-transparent {
  opacity: .3 !important;
}

.u-shadowed:before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  background-color: $color-strong;
}
